
/*.exe


/CHASSIS/MDK-ARM/*
/GIMBAL/MDK-ARM/*


!/CHASSIS/MDK-ARM/*.uvoptx
!/CHASSIS/MDK-ARM/*.uvprojx
!/CHASSIS/MDK-ARM/startup_*.s
!/CHASSIS/MDK-ARM/task
!/CHASSIS/MDK-ARM/bsp
!/CHASSIS/MDK-ARM/calculate
!/CHASSIS/MDK-ARM/Motor
!/CHASSIS/MDK-ARM/Judge
!/GIMBAL/MDK-ARM/*.uvoptx
!/GIMBAL/MDK-ARM/*.uvprojx
!/GIMBAL/MDK-ARM/startup_*.s
!/GIMBAL/MDK-ARM/task
!/GIMBAL/MDK-ARM/bsp
!/GIMBAL/MDK-ARM/calculate
!/GIMBAL/MDK-ARM/Motor